<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="header">
      <div class="time">
        <div class="hours-minutes">02:00</div>
        <div class="seconds">:00</div>
      </div>
      <ion-button color="tertiary" shape="round" size="small">
        <ion-icon name="play" slot="start"></ion-icon>
        Lancer la course
      </ion-button>
    </div>
  </ion-toolbar>
  <div class="container-progress-bar">
    <ion-progress-bar value="0.7"></ion-progress-bar>
  </div>
</ion-header>
<ion-content>
  <div class="track-info">
    <h1>{{race.location}}</h1>
    <h3>{{race.lengthInHours}}H - {{ race.date | date:'mediumDate' }}</h3>
  </div>
  <div class="relays-list">
    <div *ngFor="let relay of relays" class="item">
      <app-relay [relay]="relay"></app-relay>
    </div>
  </div>
</ion-content>
<ion-footer>
  <app-race-action-sheet></app-race-action-sheet>
</ion-footer>

