<ion-header class="ion-no-border">
  <app-race-header [race]="race"></app-race-header>
</ion-header>
<ion-content>
  <div class="track-info">
    <h1>{{race.location}}</h1>
    <h3>{{race.lengthInHours}}H - {{ race.plannedDate | date:'mediumDate' }}</h3>
  </div>
  <div class="relays-list">
    <div *ngFor="let relay of relays" class="item">
      <app-relay [relay]="relay"></app-relay>
    </div>
  </div>
</ion-content>
<ion-footer>
  <app-race-action-sheet [race]="race"></app-race-action-sheet>
</ion-footer>
