<ion-header class="ion-no-border">
  <app-race-header [race]="race"></app-race-header>
</ion-header>
<ion-content>
  <div class="track-info">
    <h1>{{race.location}}</h1>
    <h3>{{race.lengthInHours}}H - {{ race.plannedDate | date:'mediumDate' }}</h3>
  </div>
  <div class="race-wrapper">
    <!-- Timeline -->
    <app-race-timeline [race]="race"></app-race-timeline>


    <!-- Relays -->
    <div class="relays">
      <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
        <div *ngFor="let relay of relays" class="item">
          <app-card-relay [pilots]="pilots" [relay]="relay"></app-card-relay>
        </div>
      </ion-reorder-group>
    </div>
  </div>
</ion-content>
<ion-footer>
  <app-race-action-sheet [race]="race"></app-race-action-sheet>
</ion-footer>
