:host {
  font-family: var(--ion-font-family-race);
  font-size: var(--font-size-s);
  font-weight: 700;
  background: var(--ion-color-medium);
  color: var(--ion-color-light);
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  text-align: center;
}
