
:host {
  --border-width: 0.3rem;
  --size-progress-point: 1rem;
  margin-top: -15px;
  --passed-time-relay-in-percent: 0%;

  .timeline {
    width: 5rem;
    height: calc(var(--height-relay-card) + var(--margin-bottom-relays));

    // TODO le calculer
    //margin-bottom: var(--margin-bottom-relays);

    .vertical-line {
      background: var(--ion-color-primary);
      position: relative;
      display: flex;
      flex-direction: column;
      height: 60%;
      width: 0.3rem;
      border-radius: 11px;
      margin: 5px auto;

      .progress-point {
        height: var(--size-progress-point);
        width: var(--size-progress-point);
        background: var(--ion-color-progress-relay-point);
        top: calc(var(--passed-time-relay-in-percent) - (var(--size-progress-point) / 2));
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-self: center;
        align-content: center;
        animation: blinker 1s infinite;
      }
    }

    .start-time {
      border: var(--border-width) solid var(--ion-color-primary);
      font-size: var(--font-size-xm);
      font-weight: 600;
      border-radius: 2rem;
      text-align: center;
      padding: 0;
      background: var(--ion-color-light);
    }
  }
}
