:host {
  width: 100%;
  --border-width: 0.3rem;

  .relay {
    display: flex;
    color: var(--ion-color-primary);
    margin-right: var(--space-xxl);
    width: 100%;

    .timeline {
      width: 5rem;

      .vertical-line {
        background: var(--ion-color-primary);
        height: 65%;
        width: 0.3rem;
        border-radius: 11px;
        margin: 5px auto;
      }

      .start-time, .end-time {
        border: var(--border-width) solid var(--ion-color-primary);
        font-size: var(--font-size-xm);
        font-weight: 600;
        border-radius: 2rem;
        margin-top: calc(var(--margin-relay-middle) * -1);
        text-align: center;
        padding: 0;
        background: var(--ion-color-light);
      }
    }

    .card-relay {
      display: flex;
      flex: 1;
      margin-left: var(--space-xxs);
      height: 90%;

      .relay-duration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--ion-color-medium);
        padding: var(--space-xm) var(--space-xs);
        border-radius: 21px 0 0 21px;
        color: var(--ion-color-light);
        width: 3.3rem;
        font-size: var(--font-size-xm);
        text-align: center;
        font-weight: 600;

        ion-icon {
          font-size: 1.8rem;
          --ionicon-stroke-width: 48px;
        }

        .time {
          margin-top: 0.4rem;
        }
      }

      .info-pilot {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        font-size: var(--font-size-sl);
        font-weight: 600;
        background: var(--ion-color-light);
        border-radius: 10px;
        padding: var(--space-m);

        .line {
          display: flex;
          justify-content: space-between;

          &:not(:first-child) {
            margin-top: 1.1rem;
          }

          .weight {
            display: flex;
            align-items: center;
            font-size: var(--font-size-s);
            font-weight: 600;
            border: 0.2rem solid var(--ion-color-primary);
            border-radius: 10px;
            padding: 0 var(--space-xxs);

            ion-icon {
              margin-right: var(--space-xxxs);
            }
          }
        }
      }
    }
  }
}
