<div class="relay">
  <div class="timeline">
    <div class="start-time">{{relay.start}}</div>
    <div class="vertical-line">
      <div *ngIf="relay.state === StateRelayEnum.IN_PROGRESS" class="progress-point"></div>
    </div>
  </div>
  <div class="card-relay">
    <div [class.active]="relay.state === StateRelayEnum.IN_PROGRESS"
         [class.passed]="relay.state === StateRelayEnum.PAST" class="relay-duration">
      <ion-icon name="stopwatch-outline"></ion-icon>
      <div class="time">{{relay.durationInMinutes}}'</div>
    </div>
    <div class="info-pilot">
      <div class="line">
        <div>{{ relay.pilot }}</div>
        <app-badge [class.active]="relay.state === StateRelayEnum.IN_PROGRESS"
                   [class.passed]="relay.state === StateRelayEnum.PAST"
                   [text]="relay.number.toString()"
                   class="badge"></app-badge>
      </div>
      <div class="line">
        <div class="weight">
          <ion-icon name="barbell"></ion-icon>
          <div class="kg">2.5KG</div>
        </div>
      </div>
    </div>
  </div>
</div>
