<ion-list>
  <ion-item><h1>Bienvenue sur Stamina !</h1></ion-item>
  <ion-item lines="none"><h2>Cliquez sur le bouton pour accéder à la course</h2></ion-item>
  <ion-item lines="none">
    <ion-button color="primary-tertiary-gradient" routerLink="/live-race" shape="round" size="small">
      <span class="text-start-race">Allez à la course</span>
    </ion-button>
  </ion-item>
  <ion-item lines="none">
    <ion-button (click)="reset()" color="secondary" shape="round" size="small">
      Reset
    </ion-button>
  </ion-item>
</ion-list>
