<div #barSheet class="toolbar-sheet">
  <div class="action-sheet">
    <div class="button-bar">
      <ion-button fill="clear" shape="default" size="square">
        <ion-icon name="custom-settings" slot="icon-only"></ion-icon>
      </ion-button>
      <div class="vertical-bar"></div>
    </div>
    <div class="message">Préparez vous au départ !</div>
    <div class="button-bar">
      <div class="vertical-bar"></div>
      <ion-button color="secondary-gradient" shape="default" size="square">
        <ion-icon name="custom-swap" size="large" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>
</div>
