:host {
  --default-height-action-sheet: 8.5rem;
  --expanded-height-action-sheet: 21.5rem;

  .bar {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    height: var(--default-height-action-sheet);
    background: white;

    .action-sheet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--space-m);

      ion-button {
        font-size: var(--font-size-l);
      }

      .message {
        font-size: var(--font-size-l);
        font-family: var(--ion-font-family-race);
        font-weight: 600;
        color: var(--ion-color-primary);
      }
    }
  }
}
